<h1>Flight Details</h1>

<br>

<p>
  <strong><%= @flight.departure_airport.name %></strong>
  to
  <strong><%= @flight.arrival_airport.name %></strong><br><br>
  <%= @flight.departure_date %><br><br>
  Departure Time:
  <%= @flight.departure_time.to_time.strftime("%I:%M %p") %><br><br>
  Arrival Time:
  <%= @flight.arrival_time.to_time.strftime("%I:%M %p") %>
</p>

<br><br>

<h2>Enter Passenger Details</h2>

<%= form_with model: @booking do |form| %>
  <%= form.fields_for :passengers do |passengers_form| %>
    <%= passengers_form.label :name %>
    <%= passengers_form.text_field :name %>

    <%= passengers_form.label :email %>
    <%= passengers_form.text_field :email %>
    <br><br>
  <% end %>
  <%= form.submit "Book the Flight!" %>
<% end %>
